<div class="logincontainer">
<% provide(:title, "Log in") %>
<div class="text-center">
  <br /><br /><br />
  <h1>LOGIN</h1><br />

  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "Email Address", class: 'form-control' %>
      </div>
    </div> 

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :password %><br />
        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>
      </div> 
    </div>


    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Login", class: "btn btn-primary" %><br />
    </div>
    <% end %>

   <br />

   <p>New user? <%= link_to "Register!", new_user_registration_path %></p>
  <%= render "devise/shared/links" %>

  </div>
</div>